.portfolioContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolioItem {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    text-align: center;
}

.portfolioItem:hover {

    background: var(--color-primary-variant);
    background: transparent;
}

.portfolioItemImg {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolioItem h3 {
    margin: 1.2rem 0 3rem;
}

.portfolioItemCta {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    text-align: center;
}



/*medium device*/
@media screen and (max-width:1024px) {
    .portfolioContainer {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem
    }

   

}

/*small device*/
@media screen and (max-width:600px) {
    .portfolioContainer {
        grid-template-columns: 1fr;
        gap: 1.2rem
    }

}